

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="form-area" >
            <form #spForm="ngForm" (ngSubmit)="Getlogin()">
                <div class="row">
                    <label class="col-sm-2 col-form-label">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="User Name" [(ngModel)]="user.user_name" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="Password" [(ngModel)]="user.userpassword" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-info" type="submit">Login</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-info" type="button" (click)="newregistration()">User Registraion</button>

                    </div>
                </div>



            </form>

        </div>
    </div>
</div>
