<p>location works!</p>
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.7912196221173!2d74.43271201744383!3d17.98844790000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc3a54eb9493907%3A0xfcc8ec64cd8fcad8!2sMSEB%20OFFICE!5e0!3m2!1sen!2sin!4v1682605580905!5m2!1sen!2sin" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="area"></div><nav class="main-menu">
                <div class="logo">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="XYZ Company" class="img-responsive">
                    </a>
                </div>
        
              <a class="nav-link active" aria-current="page" href="#"><h2>   
                Web Self Service&nbsp;</h2></a>     
                    <ul>
                        <li>
                            <a href=" ">
                                <i class="fa fa-home fa-2x"></i>
                                <span class="nav-text">
                                   Home
                                </span>
                            </a>
                          
                        </li>
                        <li class="has-subnav">
                            <a href="#">
                                <i class="fa fa-globe fa-2x"></i>
                                <span class="nav-text">
                                    View & Pay Bill
                                </span>
                            </a>
                            
                        </li>
                        <li class="has-subnav">
                            <a href="#">
                               <i class="fa fa-comments fa-2x"></i>
                                <span class="nav-text">
                                    Connect with Consumer
                                </span>
                            </a>
                            
                        </li>
                      
                        <li>
                            <a href="csrlist">
                                <i class="fa fa-film fa-2x"></i>
                                <span class="nav-text">
                                    Manage Consumer
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book fa-2x"></i>
                                <span class="nav-text">
                                   Genrate Bill
                                </span>
                            </a>
                        </li>
                  
                        <li>
                           <a href="location">
                                <i class="fa fa-map-marker fa-2x"></i>
                                <span class="nav-text">
                                    Location in Map
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               <i class="fa fa-info fa-2x"></i>
                                <span class="nav-text">
                                    Documentation
                                </span>
                            </a>
                        </li>
                    </ul>
        
                    <ul class="logout">
                        <li>
                           <a href="logout">
                                 <i class="fa fa-power-off fa-2x"></i>
                                <span class="nav-text">
                                    Logout
                                </span>
                            </a>
                        </li>  
                    </ul>
                </nav>
                <div class="container">
                    <img src="assets/images/come.jpg" alt="Snow"  width="1100px" height="515px">
                    
                    <div class="top-left"><h3>Welcome to Web Self Service (WSS) facility of PEDCL. It is a self service solution, to manage your various consumer numbers online and services you availed from us through this website. Once registered, you can view and pay your bills, raise and track service requests. Now empower yourself by simply registering as per the direction provided on the website and start availing the services provided by us.For any queries related to online applications please contact our customer care center at 96232-1856-2055,  or Please mail customercare@phaltanelctricity.in</h3></div>
                   
               
                  </div>
              
              
               
            </div>
            </div>
            </div>
